{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}

    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon is defined %}
            <span class="oi {{ icon }}" aria-hidden="true"></span>
        {% endif %}
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock submit_widget -%}