<h1 class="display-4">Ellipse</h1>
<p class="lead">Association loi de 1901</p>
<p>Ellipse, créée en 2011, est une association bénévole étudiante qui a pour but de faire partager l’amour
    du cinéma et de promouvoir le domaine audiovisuel sur le campus de Metz.</p>
<p>Elle est composée de membres permanents et bénévoles qui lui permettent de vivre tout au long de l’année
    et de proposer différents événements tels que des projections et des blind-tests autour du 7<sup>ème</sup> art.<br/>
    L’association permet également aux étudiants de mettre en place leurs propres projets cinématographiques
    en leur offrant des moyens techniques et un accompagnement.</p>
<p>Contact : ellipse.association@gmail.com</p>
<p><a href="https://www.ovh.com/fr/support/mentions-legales/">Mentions légales</a> de l'hébergeur</p>