<footer class="footer bg-dark">
    <div class="container text-center py-3">
        <span class="text-muted text-light">Version 2.1.0-beta &copy; Ellipse {{ "now"|date("Y") }} <a
                    href="{{ path("legalNotices") }}" class="text-nowrap text-green">Mentions légales</a><br/>Hébergement par <a
                    href="https://www.ovh.com/fr/" class="text-green">OVH</a>. Réalisé avec <a
                    href="https://symfony.com/" class="text-green">Symfony</a> et <a href="https://getbootstrap.com/" class="text-green">Bootstrap</a>. Icones par <a
                    href="https://useiconic.com/open" class="text-green">Open Iconic</a>. Retrouver ce site web sur <a
                    href="https://github.com/elyos41/metz-filmfest" class="text-green">GitHub</a></span>
    </div>
</footer>