<div class="container-fluid bg-info text-white px-2 py-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="d-none d-sm-block col-sm-1 text-right">
                <span class="oi oi-info" title="Info" aria-hidden="true"></span>
            </div>
            <div class="col-xs-12 col-sm-11 text-justify">
                            <span class="d-none d-sm-block">Le site est actuellement en <strong>travaux</strong>, toutes les fonctionalitées ne sont
                            pas encore disponibles. Mais pas d'inquiétude, vous pouvez toujours vous inscrire pour le
                            festival. Pour plus d'informations, n'hésitez pas à aller consulter
                            <a href="https://www.facebook.com/metzfilmfest/" class="text-light under"><u>la page Facebook</u></a> du festival.</span>
                <span class="d-block d-sm-none">Le site est actuellement en <strong>travaux</strong>. Mais pas d'inquiétude, vous pouvez toujours vous inscrire pour le
                            festival.</span>
            </div>
        </div>
    </div>
</div>