{% extends "admin/adminLayout.html.twig" %}

{% block main %}
    <div class="row mt-4">
        <div class="container-fluid mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    {{ form_start(festivalForm) }}
                    {{ form_end(festivalForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}