<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-muted">
            <span>Festival</span>
        </h6>


        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Compétition</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link{% if app.request.pathinfo == path("admin") %} active{% endif %}" href="{{ path("admin") }}">
                    <span class="oi oi-video" title="courts-métrage" aria-hidden="true"></span>
                    Liste des courts-métrages
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Mon Compte</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link{% if app.request.pathinfo == path("accountSettings") %} active{% endif %}" href="{{ path("accountSettings") }}">
                    <span class="oi oi-cog" title="réglages" aria-hidden="true"></span>
                    Réglages
                </a>
            </li>
        </ul>

        {#
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Current month
                </a>
            </li>
        </ul>#}
    </div>
</nav>