$theme-colors: (
        "green": #4b8271,
        "yellow": #f1cb38
);

@import "~bootstrap/scss/bootstrap";

main {
  padding: 58px 0 0;
}

.footer {
  background-color: #F5F5F5;
}

.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.icon-lg {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-white {
  fill: white;
}

.btn-xl {
  padding: 18px 28px;
  font-size: 28px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.homepage-poster {
  background: url("../img/homepage_poster.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registration-poster {
  background: url("../img/registration_posetr.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
}

.homepage-poster-spacer {
  height: 10vh;
}

.list-group-item-placeholder {
  height: 3em;
  background-color: $info;
}

@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab');

body {
  font-family: 'Roboto Slab', serif;
}

.text-title {
  font-family: "Lobster", cursive;
}